[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
csvwlib-devtools = {editable = true,path = "./../devtools"}

[packages]
csvqb = {editable = true,path = "."}
pandas = "~=1.2.5"
csvwlib-models = {editable = true,path = "./../sharedmodels"}
rdflib-jsonld = "~=0.5.0"
pydantic = {editable = true,git = "https://github.com/robons/pydantic.git"}
click = "~=8.0.1"
colorama = "~=0.4.4"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
