[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
csvwlib-devtools = {editable = true,path = "./../devtools"}
ipykernel = "*"

[packages]
csvqb = {editable = true,path = "."}
pandas = "*"
unidecode = "*"
csvwlib-models = {editable = true,path = "./../sharedmodels"}
rdflib-jsonld = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
