[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
docker = "*"
behave = "*"
pytest = "*"
rdflib = "*"
python-dateutil = "*"
csvw = "*"
sphinx = "*"
sphinx-book-theme = "*"
pipenv-setup = "*"
chardet = "*"
black = "*"
devtools = {editable = true,path = "."}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
