[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "21.7b0"
flake8 = "*"

[packages]
docker = "*"
behave = "*"
pytest = "*"
rdflib = "*"
nose = "*"
python-dateutil = "*"
pipenv-setup = "*"
csvw = "*"
unittest-xml-reporting = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
