[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
devtools = {editable = true,path = "./../devtools"}

[packages]
unidecode = "*"
sharedmodels = {editable = true,path = "."}
rdflib = "~=5.0.0"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
